<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>查看收费员信息</title>
		<meta name="keywords" content="高速公路,逃费稽查,大数据" />
		<meta name="description" content="高速公路,偷逃通行费,大数据应用" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=yaDRGoon5YoRzAAwH781yUgn"></script>

		<link href="http://api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.css" rel="stylesheet"
			  type="text/css"/>
		<link rel="stylesheet" href="http://localhost:8080/car/css/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="http://localhost:8080/car/css/style.css"/>
		<link type="text/css" rel="stylesheet" href="http://localhost:8080/car/css/jquery.dataTables.min.css"/>
		<script type="text/javascript" src="/car/js/angular/angular.min.js"></script>
		<!--jQuery-->
		<script type="text/javascript" src="/car/js/jquery.js"></script>
		<script type="text/javascript" src="/car/js/jquery.dataTables.min.js"></script>
		<!-- ECharts单文件引入 -->
		<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>

		<!-- basic styles -->

		<link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		<link rel="stylesheet" href="../assets/css/font-awesome-ie7.min.css"/>
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />-->

		<!-- ace styles -->

		<link rel="stylesheet" href="../assets/css/ace.min.css" />
		<link rel="stylesheet" href="../assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="../assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		<link rel="stylesheet" href="../assets/css/ace-ie.min.css"/>
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="../assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="../assets/js/html5shiv.js"></script>
		<script src="../assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body ng-app="staionApp" ng-controller="stationCtrl">
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-leaf"></i>
							高速路逃费稽查典型应用
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">

						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="../assets/avatars/user.jpg" alt="Jason's Photo" />
								<span class="user-info">
									<small>业主</small>
									欢迎您
								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a ng-click="logout()">
										<i class="icon-off"></i>
										退出
									</a>
								</li>
							</ul>
						</li>
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>

					<ul class="nav nav-list">
						<li class="active">
							<a href="owner_index.html">
								<i class="icon-dashboard"></i>
								<span class="menu-text"> 控制台 </span>
							</a>
						</li>

						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-list-alt"></i>
								<span class="menu-text"> 收费员信息管理 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="collectorInfo.html">
										<i class="icon-double-angle-right"></i>
										查看收费员信息
									</a>
								</li>

								<li>
									<a href="add_collector.html">
										<i class="icon-double-angle-right"></i>
										添加收费员信息
									</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="audit-work.html" class="dropdown-toggle">
								<i class="icon-tag"></i>
								<span class="menu-text"> 稽查工作统计 </span>
							</a>
						</li>

						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-tag"></i>
								<span class="menu-text"> 考核管理 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										分收费站考核
									</a>
								</li>

								<li>
									<a href="stationoperator-exam.html">
										<i class="icon-double-angle-right"></i>
										分收费员考核
									</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-tag"></i>
								<span class="menu-text"> 个人信息 </span>
								<b class="arrow icon-angle-down"></b>
							</a>
							<ul class="submenu">
								<li>
									<a href="password-change.html">
										<i class="icon-double-angle-right"></i>
										修改密码
									</a>
								</li>
							</ul>
						</li>

					</ul><!-- /.nav-list -->

					<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>

					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
					</script>
				</div>

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">主页</a>
							</li>

							<li>
								<a href="#">考核管理</a>
							</li>
							<li class="active">分收费站考核</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<span><font size="3"><b>当前时间：{{datetime|date : 'yyyy-MM-dd hh:mm:ss'}}</b></font></span>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">
							<div class="page-header">
								<h1>
									分收费站考核
								</h1>
							</div><!-- /.page-header -->

							<div class="row">
								<div class="col-xs-12">
									<!-- PAGE CONTENT BEGINS -->

									<div class="row" style="text-align: right; margin-bottom: 10px">
										<span style="height: 19px; line-height: 19px"><b>范围选择:</b> &nbsp;&nbsp;</span>
										<select style="float: right; display: inline-block; margin-right: 32px" ng-model="selectedOption"
												ng-change="changeScope(selectedOption)" ng-options="x for (x,y) in options">
										</select>
									</div>
									<div class="row" style="margin: auto; padding-right: 20px;">
										<table id="myTable" class="table table-striped" style="margin: 0 0px 10px 10px">
											<thead>
											<tr>
												<th>出口收费站名称(路段名+收费站名)</th>
												<th>收费员确认并处置的逃费次数(单位:次)</th>
												<th>系统报警次数(单位:次)</th>
												<th>系统报警处置率(单位:%)</th>
											</tr>
											</thead>
										</table>
									</div>

									<!-- PAGE CONTENT ENDS -->
								</div><!-- /.col -->
							</div><!-- /.row -->
						</div><!-- /.page-content -->

				</div><!-- /.main-content -->
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='../assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='../assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="../assets/js/bootstrap.min.js"></script>
		<script src="../assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->

		<script src="../assets/js/ace-elements.min.js"></script>
		<script src="../assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->

	<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
<script type="text/javascript" src="/car/js/baseUrl.js"></script>
<script type="text/javascript" src="/car/js/station-examine.js"></script>