<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <style type="text/css">
        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
            font-family: "微软雅黑";
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=yaDRGoon5YoRzAAwH781yUgn"></script>

    <link href="http://api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <!--jQuery-->
    <script type="text/javascript" src="js/jquery.js"></script>
    <!--jQuery动画暂停插件-->
    <script type="text/javascript" src="js/jquery.pause.min.js"></script>
    <!--滚动效果js-->
    <script type="text/javascript" src="http://api.map.baidu.com/library/LuShu/1.2/src/LuShu_min.js"></script>
    <script type="text/javascript" src="js/jquery.vticker.min.js"></script>
    <title>高速路逃费稽核典型应用</title>
</head>
<body ng-app="carTrackAuditApp" ng-controller="carTrackAuditCtrl">
<div class="row">
    <h3 style="margin-left: 10px; margin-left: 20px">高速路逃费稽核典型应用</h3>
</div>
<!--系统基本信息-->
<div class="row">
    <h4 style="float: left; margin-left: 20px">收费站逃费稽核监控面板</h4>
    <h4 style="float: right; margin-right: 20px;">当前时间：{{datetime|date : 'yyyy-MM-dd hh:mm:ss'}}</h4>
</div>

<div class="row" style="width: inherit; margin: auto">
    <div class="input-group" style="margin:10px 0 0 10px; width: 300px">
        <input type="text" ng-model="carNo" class="form-control"/>
        <!--<button type="button" class="btn btn-default" style="float: right">查询</button>-->
        <span class="input-group-addon" ng-click="searchCarNo()"><i class="glyphicon glyphicon-search"></i></span>
    </div>
</div>
<div class="row" style="width: inherit; height: inherit;">
    <!--车辆信息-->
    <div class="row" style="display: inline-block; width: 50%; margin: auto;">

        <div style="height: 200px; margin: 10px 20px 10px 20px; text-align: center">
            <!--车辆逃费监控信息-->
            <div style="width: 680px; height: 250px; border: solid; border-width: 1px; text-align: center">
                <table class="table table-striped" style="margin: auto; width: 100%;">
                    <tbody>
                    <tr>
                        <td height="21" width="20">车牌号</td>
                        <td height="21" width="25">出口时间</td>
                        <td height="21" width="40">逃费检测</td>
                        <td height="21" width="45">操作</td>
                        <td height="21" width="30">状态</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-striped" cellspacing="0" style="margin: auto; width: 100%; height: 80%">
                    <tbody>
                    <tr>
                        <td width="680px">
                            <div id="scrollBar" width="680" style="overflow-y:auto; height:195px; position: relative">
                                <div align="center">
                                    <table id="dataRows" class="table table-striped" style="margin: auto; width: 100%; height: 80%">
                                        <tbody>
                                        <tr ng-repeat="car in carInfoArr | orderBy: 'exTime':true" style="position: relative">
                                            <td><font id="{{car.carNo}}">{{car.carNo}}</font>&nbsp;<a
                                                    ng-click="changeCarNo($event, car.carNo, car.exRecordNo)">纠正车牌</a>
                                            </td>
                                            <td>{{car.exTime}}</td>
                                            <td>
            <span ng-if="car.history>3"
                  style="color:red;">{{car.audit+'(历史逃费'+car.history+'次)'}}</span>
                                                <span ng-if="car.history<=3">{{car.audit+'(历史逃费'+car.history+'次)'}}</span>
                                            </td>
                                            <td>
                                                <a ng-click="carTrack(car.carNo);getCarInfo(car.exRecordNo)">对比轨迹并查看详情</a>&nbsp;
                                                <a href="img/car.jpg" target="_blank"
                                                   onclick="window.open(this.href,'','width=450,height=300,left=400,top=200');return false">查看收费入口照片</a>
                                            </td>
                                            <td>
            <span ng-if="car.action==0 && car.flag!='N'"
                  style="color: red">待处理</span>
                                                <span ng-if="car.action==1">已标记为逃费车辆</span>
                                                <span ng-if="car.action==2">已解除报警</span>
                                                <span ng-if="car.flag=='N' && car.action==0">不需要处理</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--详情展示-->
            <div style="width: 680px; height: 250px; border: solid; border-width: 1px; overflow-y: auto; margin-top: 20px">
                <table ng-if="carInfo.carNo != null"
                       style="margin: 10px 10px 10px 10px; width: 90%; height: 90%; text-align: left">
                    <tr>
                        <td><B>详情展示</B></td>
                    </tr>
                    <tr>
                        <td>车牌号: {{carInfo.carNo}}</td>
                        <td>疑似逃费行为: {{carInfo.behavior}}</td>
                    </tr>
                    <tr>
                        <td>疑似逃费里程: {{carInfo.escapeDist/1000 | number:2}}公里</td>
                        <td>损失估计: {{carInfo.escapeMoney/100 | number:2}}元</td>
                    </tr>
                    <tr>
                        <td>记录入口收费站: {{carInfo.enStation}}</td>
                        <td>记录出口收费站: {{carInfo.exStation}}</td>
                    </tr>
                    <tr>
                        <td>记录入口时间: {{carInfo.enTime}}</td>
                        <td>记录出口时间: {{carInfo.exTime}}</td>
                    </tr>
                    <tr>
                        <td>记录入口地点: {{startLocation}}</td>
                        <td>记录出口地点: {{endLocation}}</td>
                    </tr>
                    <tr>
                        <td>本次收费金额: {{carInfo.cashMoney/100 | number:2}}元</td>
                        <td>疑似逃费次数: {{carInfo.history}}</td>
                    </tr>
                    <tr>
                        <td>处理状态：
                            <span ng-if="carInfo.action==0 && carInfo.flag!='N'">待处理</span>
                            <span ng-if="carInfo.action==1">已标记为逃费车辆</span>
                            <span ng-if="carInfo.action==2">已解除报警</span>
                            <span ng-if="carInfo.flag=='N' && carInfo.action==0">不需要处理</span>
                        </td>
                    </tr>
                    <!--<tr>-->
                        <!--<td>-->
                            <!--&lt;!&ndash;<button type="button" class="btn btn-danger btn-xs" ng-click="confirmSuspicion(carInfo.exRecordNo,'1')">确认本次逃费嫌疑&ndash;&gt;-->
                            <!--&lt;!&ndash;</button>&ndash;&gt;-->
                            <!--<button type="button"-->
                                    <!--ng-class="{'0':'btn btn-danger btn-xs','1':'btn btn-danger btn-xs disabled','2':'btn btn-danger btn-xs disabled'}[carInfo.action]"-->
                                    <!--ng-click="confirmSuspicion(carInfo.exRecordNo,'1')">确认本次逃费嫌疑-->
                            <!--</button>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<button type="button"-->
                                    <!--ng-class="{'0':'btn btn-success btn-xs','1':'btn btn-success btn-xs disabled','2':'btn btn-success btn-xs disabled'}[carInfo.action]"-->
                                    <!--ng-click="confirmSuspicion(carInfo.exRecordNo,'2')">解除本次逃费嫌疑-->
                            <!--</button>-->
                        <!--</td>-->
                    <!--</tr>-->
                </table>
                <table ng-if="carInfo.carNo == null"
                       style="margin: 10px 10px 10px 10px; width: 90%; height: 90%; text-align: center">
                    <tr>
                        <td><h5>点击左侧查看详情，查看相应车辆信息</h5></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--地图显示-->
    <div class="row" style="display: inline-block; width: 48%; border: solid; float: right; margin-top: 9px">
        <div class="">
            <div class="baidu-maps" id="allmap" style="height: 515px"></div>
        </div>
    </div>
</div>


</body>
</html>
<script src="js/baseUrl.js"></script>
<script src="js/cartrack-audit.js"></script>