<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <style type="text/css">
        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
            font-family: "微软雅黑";
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=yaDRGoon5YoRzAAwH781yUgn"></script>

    <link href="http://api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <!--jQuery-->
    <script type="text/javascript" src="js/jquery.js"></script>
    <!--jQuery动画暂停插件-->
    <script type="text/javascript" src="js/jquery.pause.min.js"></script>
    <!--滚动效果js-->
    <script type="text/javascript" src="http://api.map.baidu.com/library/LuShu/1.2/src/LuShu_min.js"></script>

    <title>高速路逃费稽核典型应用</title>
</head>
<body ng-app="auditApp" ng-controller="auditCtrl">
<!--逃费类型数据显示-->
<div class="row">
    <div style="height: 200px; margin: 10px 0 10px 0; text-align: center">
        <!--行驶中途取得卡逃费行为-->
        <div style="display: inline-block; width: 300px; height: inherit; border: solid; border-width: 1px; overflow-y: auto">
            <table style="margin: 10px 10px 10px 10px; width: 90%; height: 90%">
                <tr><td>行驶中途取得卡逃费行为</td></tr>
                <tr ng-if="middleGet.length == 0"><td>暂未发现</td></tr>
                <tr style="height: 50px" ng-repeat="car in middleGet">
                    <td><input type="checkbox" ng-click="isChecked($event,car)">{{car}}</td>
                    <!--<td>鲁D.2</td>-->
                </tr>
            </table>
        </div>
        <!--倒卡和遮挡卡行为-->
        <div style="display: inline-block; width: 300px; height: inherit; margin-left: 20px; border: solid; border-width: 1px">

            <table style="margin: 10px 10px 10px 10px; width: 90%; height: 90%">
                <tr><td>倒卡和遮挡卡行为</td></tr>
                <tr ng-if="shadeCard.length == 0"><td>暂未发现</td></tr>
                <tr style="height: 50px" ng-repeat="car in shadeCard">
                    <td><input type="checkbox" ng-click="isChecked($event, car)">{{car}}</td>
                    <!--<td>鲁D.2</td>-->
                </tr>
            </table>
            <!--<p ng-if="shadeCard == null">暂未发现</p>-->
        </div>
        <!--两车行驶中途交换卡行为-->
        <div style="display: inline-block; width: 300px; height: inherit; margin-left: 20px; border: solid; border-width: 1px">

            <table style="margin: 10px 10px 10px 10px; width: 90%; height: 90%">
                <tr><td>两车行驶中途交换卡行为</td></tr>
                <tr ng-if="changeCard.length == 0"><td>暂未发现</td></tr>
                <tr style="height: 50px" ng-repeat="car in changeCard">
                    <td><input type="checkbox" ng-click="isChecked($event,car)">{{car}}</td>
                    <!--<td>鲁D.2</td>-->
                </tr>
            </table>
        </div>
        <!--车辆套牌行驶行为-->
        <div style="display: inline-block; width: 300px; height: inherit; margin-left: 20px; border: solid; border-width: 1px">

            <table style="margin: 10px 10px 10px 10px; width: 90%; height: 90%">
                <tr><td>车辆套牌行驶行为</td></tr>
                <tr ng-if="falseLicence.length == 0"><td>暂未发现</td></tr>
                <tr style="height: 50px" ng-repeat="car in falseLicence">
                    <td><input type="checkbox" ng-click="isChecked($event,car)">{{car}}</td>
                    <!--<td>鲁D.2</td>-->
                </tr>
            </table>

        </div>
    </div>

</div>
<!--地图显示-->
<div class="row">
    <div class="">
        <div class="baidu-maps" id="allmap" style="height: 440px"></div>

    </div>
</div>

</body>
</html>
<script src="js/baseUrl.js"></script>
<script src="js/dodge-toll-audit.js"></script>